.min-sm {
  display: none;
  @media (min-width: 575px) {
    display: block;
  }
}

.min-md {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.min-lg {
  display: none;
  @media (min-width: 991px) {
    display: block;
  }
}

.min-xl {
  display: none;
  @media (min-width: 1199px) {
    display: block;
  }
}

.max-sm {
  display: none;
  @media (max-width: 575px) {
    display: block;
  }
}

.max-md {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.max-lg {
  display: none;
  @media (max-width: 991px) {
    display: block;
  }
}

.max-xl {
  display: none;
  @media (max-width: 1199px) {
    display: block;
  }
}
